/*Variables*/

$font-one: 'droid-serif', serif;
$font-two: 'Montserrat', sans-serif;
$font-three: 'Roboto Slab', serif;
$font-four: 'Wisdom Script', sans-serif;
  

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}


.container {
    width: 940px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.section-header {
    text-align: center;
    margin: 0 0 76px 0;

    .section-title {
        color: #222222;
        font-family: $font-two;
        font-size: 40px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        /*line-height: 75px;*/
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -1px;
        margin: 0 0 19px 0;
    }

    .section-subtitle {
        color: #777777;
        font-family: $font-one;
        font-size: 16px;
        font-style: italic;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }
}

.box {
    flex: 0 0 33.3333%;
    text-align: center;

    .box-title {
        font-family: $font-two;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.45px;
        line-height: normal;
    }

    .box-text {
        font-size: 14px;
        line-height: normal;
        text-align: center;
    }
}

/* Navigation */

.navigation {
    position: absolute;
    margin: 73px 0 0 0;
    z-index: 1;
    width: 100%;

    .menu {
        width: 480px;
        color: #ffffff;
        font-family: $font-two;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 41px;
        text-align: center;
        text-transform: uppercase;

        ul {
            list-style-type: none;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            display: flex;
            justify-content: space-between;
            
            li {
                display: inline-block;
                text-transform: uppercase;
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }

}

/* Splash */

.splash {
    position: relative;
    height: 100vh;
    background-color: #000000;

    .splash-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

        .small-title {
            color: #ffffff;
            font-family: $font-one;
            font-size: 40px;
            font-style: italic;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
        }

        .big-title {
            color: #ffffff;
            font-family: $font-two;
            font-size: 75px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
        }

        .button-1 {
            width: 240px;
            height: 65px;
            background-color: #fed136;
            padding: 0;
            border: 0;
            
            span {
                color: #ffffff;
                font-family: $font-two;
                font-size: 18px;
                font-weight: 700;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
}

.splash::before {
    content: '';
    background-image: url('https://i.postimg.cc/B6VpPjhd/Background-Image.png');
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    opacity: 1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}


/* Services */

.services {
    padding: 120px 0 120px 0;

    .box-services {
        max-width: 274px;
        margin: 4px 0 0 0;

        img {
            padding: 12px;
            border-radius: 50%;
            border: 1px solid #fed136;
        }

        .box-title-services {
            color: #222222;
        }

        .box-text-services {
            color: #777777;
            font-family: $font-three;
            font-weight: 400;
            font-style: normal;
            letter-spacing: -0.35px;
        }
    }
}

/* Our Portfolio */

.our-portfolio {
    background-color: #f7f7f7;
    padding: 120px 0 120px 0;

    .box-our-portfolio {
        background-color: #fff;
        max-width: 291px;
        margin: 0 0 50px 0;

        .box-title-portfolio {
            color: #333333;
            margin: 29px 0 4px 0;
        }

        .box-text-portfolio {
            color: #737373;
            font-family: $font-one;
            font-style: italic;
            letter-spacing: normal;
            margin: 0 0 27px 0;
        }
    }
}

/* Footer */

.footer {


    .box-footer {
        margin: 40px 0 0 0;

        a {
            font-size: 0px;
            margin-right: 9px;
        
            i {
                font-size: 18px;
                background-color: #222222;
                color: #ffffff;
                line-height: 41px;
                height: 41px;
                width: 40px;
                border-radius: 50%;
                background-size: 40px 41px;
            }

            .tw-blue:hover {
                background-color: #00aced;
            }
    
            .fb-blue:hover {
                background-color: #3b5998;
            }
    
            .pin-red:hover {
                background-color: #cb2028;
            }
    
            .g-red:hover {
                background-color: #da2713;
            }
        }

      
    }
}